
<nav class="main-nav">
    <!-- ***** Logo Start ***** -->
    <a href="/" class="logo">
        <h1>Godrej</h1>
    </a>
    <!-- ***** Logo End ***** -->
    <!-- ***** Serach Start ***** -->
    <div class="search-input">
        <form id="search" action="#">
        <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
        <i class="fa fa-search"></i>
        </form>
    </div>
    <!-- ***** Serach Start ***** -->
    <!-- ***** Menu Start ***** -->
    <ul class="nav">
        <li class="scroll-to-section" (click)="navHome()"><a [ngClass]="{'active': activeRoute === '/'} ">Home</a></li>
        <li *ngIf="fauth.userData" class="scroll-to-section" (click)="navChat()"><a [ngClass]="{'active': activeRoute === '/chat'} ">Chat</a></li>
        <li *ngIf="fauth.userData" class="scroll-to-section" (click)="navProfile()"><a [ngClass]="{'active': isProfileActive}">{{user?.displayName | titlecase}}</a></li>
        <li *ngIf="fauth.userData" class="scroll-to-section" (click)="navLogout()"><a>Logout</a></li>
        <li *ngIf="!fauth.userData" class="scroll-to-section" (click)="navLogin()"><a [ngClass]="{'active': activeRoute === '/login'} ">Login</a></li>
        <li *ngIf="!fauth.userData" class="scroll-to-section" (click)="navRegister()" ><a [ngClass]="{'active': activeRoute === '/register'} ">Register</a></li>
    </ul>   
    <a class='menu-trigger'>
        <span>Menu</span>
    </a>
    <!-- ***** Menu End ***** -->
</nav>
