<div class="contact-us section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12  align-self-center">
          <div class="section-heading">
            <!-- <h6>Contact Us</h6> -->
            <h2>Verify Here...</h2>
            <p>You can verify here your account by clicking on the link and then Login</p>
            <div class="special-offer">
              <span class="offer">Godrej<br><em>AI</em></span>
              <h6><em>Secure & Fast</em></h6>
              <h4>Verify your <em>Google</em> account</h4>
              <a (click)="verifyEmail()"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>